@page "/"

@inject IEventAggregator eventAggregator;

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<BlazorAppEventAggregator.Component.Component1>

</BlazorAppEventAggregator.Component.Component1>

<BlazorAppEventAggregator.Component.Component2>

</BlazorAppEventAggregator.Component.Component2>


